<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- fontawesome -->
    <link rel="icon" href="favicon.ico">
<!-- css -->
    <link rel="stylesheet" href="static/css/styles.css">
    <!-- goole fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">

    <meta charset="utf-8">
    <title>Color coordinates</title>
  </head>
  <body>
    <!-- nave bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </button>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- end -->
<!-- html -->
<div class="top-container">
  <img src="" alt="">
  <h1>COLOR PALENT</h1>
  <h2>a <span class="pro">CO</span>LORS</h2>
  <img class="bottom-cloud" src="" alt="">
  <img src="" alt="">
</div>
<div class="middle-container">
<div class="profile">

<h2>Hello there.</h2>
<p class="intro"></p>
</div>
<hr>
<div class="skills">
<h2>.</h2>
<img src="" alt="">
<div class="skill-row">

  <h3></h3>
  <p></p>
</div>
<div class="skill-row">

  <h3></h3>
  <p></p>
</div>
</div>
<hr>
<div class="contact-me">
<img src="messages.png" alt="contact me">
<h2>Get In Touch</h2>
<h3></h3>
<p></p>
<a class="btn" href="mailto:Davidmbundu@email.com">CONTACT ME</a>
</div>
</div>

<div class="bottom-container">
  <!-- icons -->
  <i class="fa-brands fa-linkedin"></i>
  <i class="fa-brands fa-square-instagram"></i>
  <i class="fa-brands fa-twitter"></i>
  <!-- links  -->
<a class="footer-link" href="https://www.linkedin.com/in/david-juju-852774120/">LinkedIn</a>
<a class="footer-link" href="https://www.instagram.com/jadevelops//">Instagram</a>
<a class="footer-link" href="https://github.com/MRKCTRL/">Github</a>
<p class="name">© 2023 David Mbundu.</p>
</div>
<!-- end -->

<script src="https://kit.fontawesome.com/e4ae77b46d.js" crossorigin="anonymous"></script>
  </body>
</html>
